@import '../../../../variables.scss';

.toolbar {
    position:fixed;
    display:flex;
    flex-direction:row;
    list-style: none;
    top:0px;
    left:0px;
    height:50px;
    width:100vw;
}

.toolbar li {
    height:50px;
    margin:0px 0px 0px 0px;
    padding:0px;
}

.hamburger {
    width:50px;
    position:fixed;
    right:10px;
    cursor: pointer;
}

.hamburger :hover{
    color:$PURPLE;
}

.hamburger mat-icon {
    height:32px;
    width:32px;
    font-size:32px;
    margin:9px;
    color:white;
}

