<div class="logo-container">
    <img src="../../../assets/whatsgoood.svg" class="logo">
</div>

<div class="card-container">
    <div *ngFor="let rating of ratings" class="card" [ngClass]="getCardColor(rating.rating)"
        (click)="toggleDialog(rating)">
        <img class="card-icon" src="{{getSvglocation(rating.name)}}" />
    </div>
</div>

<div class="weather-container">
    <iframe class="windy"
        src="https://embed.windy.com/embed2.html?lat=-37.120&lon=18.413&detailLat=-33.816&detailLon=18.470&width=800&height=400&zoom=10&level=surface&overlay=wind&product=ecmwf&menu=&message=true&marker=&calendar=now&pressure=&type=map&location=coordinates&detail=true&metricWind=kt&metricTemp=%C2%B0C&radarRange=-1"
        frameborder="0">
    </iframe>
</div>